.circle {
	border-radius: 50%;
	height: 13px;
	width: 13px;
}

.icon-group {
	font-size: 25px;
	vertical-align: baseline;
	position: relative;
	top: 7px;
}

.icon-tag {
	font-size: 20px;
	vertical-align: baseline;
	position: relative;
	top: 5px;
}

.textbox-align {
	vertical-align: baseline;
	position: relative;
	top: 5px;
}

.btn-icon {
	font-size: 25px !important;
	padding: 6px;
}

.smallify{
  height: 20px;
  width: 20px;
}